<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="petSuite">

<listeners>
<listener class-name="api.utilities.ExtentReportManager" />
</listeners>


  <test thread-count="5" name="petTests">
    <classes>
      <!--class name="api.test.Usertests"/-->
     <class name="api.test.Usertests2"/>
      <!-- <class name="api.test.DDTests"/> -->
    </classes>
  </test> <!-- petTests -->
</suite> <!-- petSuite -->
